@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue';
}

.container-grid {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;   
}

header {
    background-color: rgb(142, 0, 170);
    height: 80px;
    position: fixed;
    width: 100vw;
}

.conteudo-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.logo {
    height: 40px;
}

.menu-header {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    transition: 0.5s;
}

.menu header a:hover:not(.botao) {
    font-size: 1.6em;
    transition: 0.3s;
    text-shadow: 4px 4px 6px #ff0000;
}

.botao {
    background-color: rgb(0, 0, 0);
    height: 45px;
    width: 150px;
    text-align: center;
    line-height: 47px;
    font-size: 1.5em !important;
    border: none
}

.botao:hover {
    font-size:  1.6em !important;
    height: 50px;
    line-height: 50px;
    width: 160px;
    transition: 0.3s;
    box-shadow: 4px 4px 6px #000000;
}

.menu-barras {
    display: none;
}

.banner{
    background-image: url(../img/imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo-banner {
    display: flex;
    align-items: flex-end;
    height: 100%;
}


.texto-banner {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-around;
}

h1 {
    color: rgb(254, 254, 255);
    font-size: 80px;
}

.linha-amarela {
    border: solid 1px #ffc118;
}

.titulo-senai {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(229, 255, 0);
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
}

.mouse {
    width: 80px;
}

.sobre-projetos {
    background-color: #000000;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sobre-projetos h2 {
    color: crimson;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
}

.conteudo-sobre {
    display: flex;
    justify-content: space-between;
}

.imagem-sobre {
    width: 40%;
}

.texto-sobre {
    width: 50%;
}

.texto-participantes {
    color: cornsilk;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
}

.conteudo-sobre h3 {
    color: #ffc118;
    font-size: 45px;
    font-weight: 500;
}

.texto-sobre p {
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.info {
    background-image:  url(../img/imagem-fundo-info.jpg);
    background-repeat: no-repeat; background-position: center;
    background-size: cover;
    padding: 40px 0;
}

.conteudo-info {
    display: flex;
    justify-content: space-between;
}

.card-info {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    margin: 20px;
}

.card-info h3 {
    color:  #ffffff;
    font-size: 20px;
}

.card-info p {
    color: rgb(0, 255, 115);
    font-size: 22px;
    font-weight: 600;
    border: solid 2px #A259F7;
    width: 250px;
    padding: 30px 0;
    text-align: center;
}

.endereco {
    padding: 40px 0;
    background-image: url(../img/imagem-fundo-ranking.jpg);
}

.conteudo-endereco {
    margin: 0 auto;
    max-width: 850px;
    position: relative;
    justify-content: center;
}

.conteudo-endereco h2 {
    color: #ffc118;
    font-size: 50px;
    font-weight: 500;
}

.texto-endereco {
    color: #06ff06;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    border: solid 2px #81b94d;
    padding: 55px 55px;
}

.texto-endereco p {
    width: 400px;
    font-size: 20px;
}

.mapa {
    position: absolute;
    margin-top: 10px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.footer {
   height: 80px;
   border-color: rgb(255, 0, 0);
   color: #ffffff;
   display: flex;
   top: 0px;
} 

.footer span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    text-align: center;
}