 /*Aula 12 - 17/05/2022*/
body,ul{
    margin: 0px;
    padding: 0px;
}
#menu a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
a:hover{
    background: rgb(230, 187, 255);
}
#header{
    box-sizing: border-box;
    height: 110;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f8f8;
}
#menu{
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile{
    display: none;
}
#carouselExampleInterval{
    position: relative;
    z-index: 10;
}
/*Começo da responsivida Menu Hamburguer*/
/* Começo da responsividade Menu Hamburger*/
@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu li {
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: hidden;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 25px;
        
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}


/*CSS Banner*/
.section-banner-home{
    width: 100%;
    height: 500px;
    padding: 50px;
    background-color: #a39d9d;
}

.section-banner-home img{
    height: 400px;
}

.section-banner-home .texto-banner{
    margin-top: 30px;
    font-size: 22px;
}

.section-banner-home .texto-banner h1{
    font-size: 30px;
    width: 60%;
    font-weight: 500;
    padding-bottom: 20px;
}

.section-banner-home .texto-banner p{
    font-size: 15px;
    margin-bottom: 20px;
}

.section-banner-home .texto-banner {
    color: black;
    text-decoration: none;
    background-color: #e7e7e7;
    padding: 4px 14px;
    font-size: 15px;
}

/* CSS Destaque*/

.destaque h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
}

.destaque p{
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption{
    font-size: 13px;
    color: rgb(8, 6, 6);
    text-decoration: none;
    font-weight: bold;
}
.destaque a{
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: rgba(221, 0, 0, 0.897);
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
}

/*CSS novidades*/

.novidades .text-body{
    width: 80%;
    margin: 70px auto;
}
.novidades h2{
    color: rgb(10, 10, 10);
    font-size: 26px;
    width: 70%;
}
.novidades p{
    color: black;
}
.novidades a{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
    padding: 6px 12px;
    background-color: rgb(0, 119, 255);
    font-weight: 400;
}

/*CSS Galeria*/

.galeria{
    margin: 60px auto 20px;
}
.galeria h2{
    text-align: center;
    font-size: 24px;
}
.galeria p{
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}
.galeria .gallery{
    width: 30%;
    margin: 14px auto 50px;
}
/*CSS footer*/
.rodape{
    padding: 50px 50px 0;
}
.rodape .info-contato p{
    margin: 0px;
}
.rodape a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 13px;
}
.rodape a:hover{
    font-weight: bold;
}
.rodape .redes-sociais{
    display: inline-block;
}
.rodape .redes-sociais img{
    width: 45px;
    height: 40px;
}
.rodape p.direitos{
    text-align: center;
    margin-top: 40px;
}
