 /*Aula 12 - 17/05/2022*/
body,ul{
    margin: 0px;
    padding: 0px;
}
#menu a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
a:hover{
    background: rgb(230, 187, 255);
}
#header{
    box-sizing: border-box;
    height: 110;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
}
#menu{
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#bnt-mobile{
    display: none;
}
#carouselExampleInterval{
    position: relative;
    z-index: 10;
    padding-top: 80px;
}

/*CSS Banner*/
.section-banner-home{
    width: 100%;
    height: 500px;
    padding: 50px;
    background-color: #a39d9d;
}

.section-banner-home img{
    height: 400px;
}

.section-banner-home .texto-banner{
    margin-top: 30px;
    font-size: 22px;
}

.section-banner-home .texto-banner h1{
    font-size: 30px;
    width: 60%;
    font-weight: 500;
    padding-bottom: 20px;
}

.section-banner-home .texto-banner p{
    font-size: 15px;
    margin-bottom: 20px;
}

.section-banner-home .texto-banner {
    color: black;
    text-decoration: none;
    background-color: #e7e7e7;
    padding: 4px 14px;
    font-size: 15px;
}

/* CSS Destaque*/

.destaque h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
}

.destaque p{
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption{
    font-size: 13px;
    color: rgb(8, 6, 6);
    text-decoration: none;
    font-weight: bold;
}
.destaque a{
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: rgba(221, 0, 0, 0.897);
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
}

/*CSS novidades*/

.novidades .text-body{
    width: 80%;
    margin: 70px auto;
}
.novidades h2{
    color: rgb(10, 10, 10);
    font-size: 26px;
    width: 70%;
}
.novidades p{
    color: black;
}
.novidades a{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
    padding: 6px 12px;
    background-color: rgb(7, 44, 252);
    font-weight: 400;
}

/*CSS Galeria*/

.galeria{
    margin: 60px auto 20px;
}
.galeria h2{
    text-align: center;
    font-size: 24px;
}
.galeria p{
    text-align: center;
    width: 50%;
    margin: 14 px auto 50px;
}
.galeria .gallery{
    width: 30%;
    margin: 14px auto 50px;
}